<div class="search">
  Search for posts:
  <input type="text" class="input" #postName (keyup)="search(postName.value)">
</div>

<div class="border-horiz">
  Page:
  <div class="pageSelect">
    <div *ngFor="let i of pages" (click)="goToPage(i)" class="selector">
      {{i}}
    </div>
  </div>
</div>

<div *ngFor="let p of posts" class="feed">
    <a routerLink="/{{p.groupId}}/{{p.id}}">
      <post-card [post]="p" [excerpt]="true" [enableVoting]="false"></post-card>
    </a>
</div>

<div class="border-horiz">
  Page:
  <div class="pageSelect">
    <div *ngFor="let i of pages" (click)="goToPage(i)" class="selector">
      {{i}}
    </div>
  </div>
</div>
