.card{
    border: 1px solid #353535;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;
}

.col-1{
    margin-top: 10px;
    font-size: xx-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #646464;
}

.col-11{
    border-left: 1px solid black;
}

.active{
    color: black;
}

.arrow:hover{
    cursor: pointer;
}

.content {
    cursor: pointer;
    height: 70%;
}

button{
    font-size: small;
    color: black;
    background-color: transparent;
    border: none;
    margin-right: 15px;
}