<div class="card">
  <div class="card-body row">
    <div class="col-1">
      <fa-icon [icon]="faArrowUp" class="arrow" 
      [class.active]="post.userVote!=null && (post.userVote==0 || post.userVote.toString()=='UP')"
      (click)="upvote()"></fa-icon>
            
      <small class="text-muted">{{post.votes}}</small>

      <fa-icon [icon]="faArrowDown" class="arrow"
      [class.active]="post.userVote!=null && (post.userVote==1 || post.userVote.toString()=='DOWN')"
      (click)="downvote()"></fa-icon>
    </div>

    <div class="col-11">  
      <p class="header">
        <small class="text-muted name">
          <a routerLink="/user/{{post.username}}">
            <img [src]="post.userAvatarUrl" onerror="this.src='/assets/no_profile.jpeg'" class="avatar">
            {{post.username}}
          </a>
          >
          <a routerLink="/{{post.groupId}}">
            <img [src]="post.groupAvatarUrl" onerror="this.src='/assets/no_group_avatar.png'" class="avatar">
            {{post.groupName}}
          </a>
        </small>
        <small class="text-muted">{{post.dateCreated | date}}</small>
      </p>
      <div class="content" routerLink="/{{post.groupId}}/{{post.id}}">
        <h5 class="card-title">{{post.title}}</h5>
            
        <div *ngIf="short; else fullText">
          <p class="card-text">{{post.description|excerpt:1150}}</p>
        </div>
        <ng-template #fullText>
          <p class="card-text">{{post.description}}</p>
        </ng-template>
      </div>
      <div *ngIf="!short && this.authService.getUsername()==post.username">
        <button routerLink="/create-post/{{post.groupId}}/{{post.id}}">Edit</button>
        <button (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
