.card{
    margin: 0 auto 20px auto;
    background-color: #1a1a1a;
    border: 1px solid rgb(53, 53, 53);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.card-title{
    margin-bottom: 20px;
}

.col-1{
    margin-top: 10px;
    font-size: xx-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    color: gray;
}

.active{
    color: lightgray;
}

.arrow:hover{
    cursor: pointer;
}