<form #userLogin="ngForm" (ngSubmit)="login(userLogin)">
    <div class="form-group">
      <label for="login">Login</label>
      <input ngModel type="text" class="form-control" id="login" name="login" placeholder="Enter login">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input ngModel type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="register">
      You don't have an account? <a routerLink="/register">REGISTER HERE</a>
    </div>
    <div *ngIf="loginError" class="error">
      Login or password is invalid!
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>