<h1>Manage Roles for Group:</h1>
<div class="row">
    <div class="col-6">
        <button class="btn btn-primary" *ngIf="!addingModerator" (click)="initAddModeratorSelection()">Add Moderator</button>

        <div *ngIf="addingModerator">
            
            <input [(ngModel)]="searchPhrase" type="text" class="input" (keyup)="searchUser()" placeholder="username">

            <div class="row row-select" *ngFor="let u of findUsers; let i = index" 
            [class.active]="selectId!=null && u.username==findUsers[selectId].username"
            (click)="selectId = i">
                <div class="col-2">select</div>
                <div class="col-10">{{u.username}}</div>
            </div>

            <button class="btn btn-primary" (click)="addModerator()">Add as Moderator</button>
            <button class="btn btn-primary" (click)="addingModerator = false">Cancel</button>
        </div>


        <h2>Moderators:</h2>
        
        <div class="row" *ngFor="let m of moderators">
                <div class="col-4">{{m.username}}</div>
                <div class="col-8">
                    <button class="btn btn-danger" (click)="removeModerator(m)" *ngIf="m.username!=group.owner">
                        Remove Moderator
                    </button>
                </div>
        </div>
    </div>
    <div class="col-6">
        <h2>Owner:</h2>
        Current owner: {{group.owner}}

        <button class="btn btn-danger" *ngIf="!transferingOwnership" 
        (click)="initTransferOwnershipSelection()">TransferOwnership</button>

        <div *ngIf="transferingOwnership">
            <div class="row row-select" *ngFor="let u of moderators; let i = index"
            [class.active]="selectId!=null && u.username==moderators[selectId].username"
            (click)="selectId = i">
                <div class="row" *ngIf="u.username!=group.owner">
                    <div class="col-2">select</div>
                    <div class="col-10">{{u.username}}</div>
                </div>
                
            </div>

            <button class="btn btn-danger" (click)="transferOwnership()">TransferOwnership</button>
            <button class="btn btn-primary" (click)="transferingOwnership = false">Cancel</button>
        </div>
    </div>
</div>