.card{
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;
}

.header{
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.col-2{
    font-size: xx-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
}

.name{
    margin-right: 20px;
}

.active{
    color: black;
}

.arrow:hover{
    cursor: pointer;
}

button{
    font-size: large;
    background-color: transparent;
    border: none;
}

input{
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 0 15px 0 15px;
}

input:focus{
    outline: none;
}

.options{
    width: 50px;
    display: flex;
    justify-content: space-between;
}

fa-icon:hover{
    cursor: pointer;
}