<div class="card">
  <div class="col-2">
    <fa-icon [icon]="faArrowUp" class="arrow" 
    [class.active]="comment.userVote!=null && (comment.userVote==0 || comment.userVote.toString()=='UP')"
    (click)="upvote()"></fa-icon>
            
    <small class="text-muted">{{comment.votes}}</small>

    <fa-icon [icon]="faArrowDown" class="arrow"
    [class.active]="comment.userVote!=null && (comment.userVote==1 || comment.userVote.toString()=='DOWN')"
    (click)="downvote()"></fa-icon>
  </div>

  <div class="card-body col-10">
    <div class="header" *ngIf="!isUserWriting && !isUserEditing">
        <small class="text-muted">
          <a routerLink="/user/{{comment.user}}" class="name">
            <img [src]="comment.userAvatarUrl" onerror="this.src='/assets/no_profile.jpeg'" class="avatar">
            {{comment.user}}
          </a>
        </small>
        <div class = "options" *ngIf="comment.user==authService.getUsername()">
          <fa-icon [icon]="faEdit" (click)="initlializeEdit()"></fa-icon>
          <fa-icon [icon]="faTrash" (click)="deleteComment()"></fa-icon>
        </div>
    </div>
      

    <div *ngIf="!isUserEditing; else editing">
      {{comment.content}}
    </div>
    <ng-template #editing>
      <fa-icon [icon]="faTimes" (click)="isUserEditing=false"></fa-icon>
      <form #editForm="ngForm" (ngSubmit)="edit()">
        <textarea [(ngModel)]="editedContent" class="form-control" id="content" name="content" rows="3"></textarea>
        <button type="submit" class="btn btn-big">Submit</button>
      </form>
    </ng-template>

    <small class="text-muted">{{comment.dateCreated | date}}</small>
    <div *ngIf="!isUserEditing && authService.getUsername()!=null">
      <div *ngIf="!isUserWriting; else commentField" (click)="isUserWriting=true">
        <fa-icon [icon]="faCommentDots"></fa-icon>
      </div>
      <ng-template #commentField>
        <fa-icon [icon]="faTimes" (click)="isUserWriting=false"></fa-icon>
        <form #createComment="ngForm" (ngSubmit)="respondComment(createComment)">
          <input ngModel type="text" name="content">
          <button type="submit" class="btn">Respond</button>
        </form>
      </ng-template>
    </div>
  </div>
</div>