.card{
    margin: 0 auto 20px auto;
    background-color: transparent;
    border-bottom: 1px solid rgb(71, 71, 71);
}

.header{
    margin-bottom: 20px;
}

.col-1{
    font-size: xx-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
}

.active{
    color: lightgray;
}

.arrow:hover{
    cursor: pointer;
}