<div class="card text-white mb-3 container" style="width: 50rem;">
  <div class="row">
    <div class="col-1">
      <div class="row arrow" [class.active]="comment.userVote!=null && (comment.userVote==0 || comment.userVote.toString()=='UP')"
        (click)="upvote()">
        <fa-icon [icon]="faArrowUp" *ngIf="username!=null"></fa-icon>
      </div>
      <div class="row">
        <small class="text-muted">{{comment.votes}}</small>
      </div>
      <div class="row arrow" [class.active]="comment.userVote!=null && (comment.userVote==1 || comment.userVote.toString()=='DOWN')" 
        (click)="downvote()">
        <fa-icon [icon]="faArrowDown" *ngIf="username!=null"></fa-icon>
      </div>
    </div>
      <div class="card-body col-11">
          <div class="flex-container">
            <p class="card-text header" *ngIf="!isUserWriting && !isUserEditing && username!=null">
              <small class="text-muted">
                <a routerLink="/user/{{comment.user}}">
                  {{comment.user}}
                </a>
              </small>
              <button *ngIf="comment.user==username" (click)="isUserEditing=true; editedContent=this.comment.content">Edit</button>
              <button *ngIf="comment.user==username" (click)="deleteComment()">Delete</button>
            </p>
          </div>
        <div *ngIf="!isUserEditing; else editing">
          <p class="card-text">
            {{comment.content}}
          </p>
        </div>
        <ng-template #editing>
          <fa-icon [icon]="faTimes" (click)="isUserEditing=false; editedContent=comment.content"></fa-icon>
            <form #editForm="ngForm" (ngSubmit)="editComment()">
              <textarea [(ngModel)]="editedContent" class="form-control" id="content" name="content" rows="3"></textarea>
              <button type="submit" class="btn btn-big">Edit</button>
          </form>
        </ng-template>

        <small class="text-muted">{{comment.dateCreated | date}}</small>
        <div *ngIf="!isUserEditing && username!=null">
          <div *ngIf="!isUserWriting; else commentField" (click)="isUserWriting=true">
            <button>Comment this</button>
          </div>
          <ng-template #commentField>
            <fa-icon [icon]="faTimes" (click)="isUserWriting=false"></fa-icon>
            <form #createComment="ngForm" (ngSubmit)="respondComment(createComment)">
              <input ngModel type="text" name="content">
              <button type="submit" class="btn">Comment</button>
          </form>
          </ng-template>
        </div>
      </div>
  </div>
  </div>