.divider{
    border-bottom: 1px solid white;
    margin: 20px 0 20px 0;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.invalid{
    border-color: red;
}

.alert{
    background-color: transparent;
    color: red;
    padding: 0;
}

input{
    margin-bottom: 10px;
}