body{
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.name{
    color: black;
}

.name:hover{
    color: lightgray;
}

.avatar{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2px;
}