.input{
    background-color: transparent;
    border: 1px solid rgb(83, 83, 83);
    color: black;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
    font-size: large;
}

button{
    margin-bottom: 40px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.search{
    width: 60%;
    margin: 0 auto 0 auto;
}

.feed{
    width: 70%;
    margin: 5px auto 5px auto;
}

.pageSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selector{
    margin-right: 30px;
    cursor: pointer;
}

.border-horiz{
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin: 50px 100px 50px 100px;
    padding: 0 100px 0 100px;
}