nav{
    padding: 10px 250px 10px 250px;
    display: flex;
    justify-content: space-between;
}

div{
    display: flex;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    cursor: pointer;
}

.navbar-brand{
    display: flex;
}

.logo{
    width: 30px;
    margin-right: 20px;
    color: black
}

@media only screen and (max-device-width: 480px) {
    .logo-word, .groups{
        display: none;
    }

    .logo{
        margin-right: 0;
    }

    nav{
        padding: 10px 10px;
    }
}