.container-fluid{
    margin: 0 50px 0 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    cursor: pointer;
}

.dropdown-menu{
    
    background-color: black;
}

.dropdown-item{
    color: white;
}