.container-fluid{
    margin: 0 15% 0 15%;
}

.nav-link {
    color: #dfdfdf;
}

.nav-link:hover{
    cursor: pointer;
}

.left{
    display: flex;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-menu>li:hover{
    background-color: #1d1d1d;
}

.logo{
    width: 30px;
    margin-right: 20px;
}