<div *ngIf="group!=null">
    <h1>{{group.groupName}}</h1>

    <p class="moderator" *ngIf="group?.moderators?.includes(username!=null?username:'')">
        You are a moderator of this group.
    </p>

    <small class="text-muted">Owner: {{group.owner}}</small>
    
    <div class="subscription row">
        <div class="col-3">
            <button *ngIf="group.owner != username; else ownerPanel" (click)="subscribe()">
                <div *ngIf="!group.isSubscribed; else unsubscribe">
                    Subscribe
                </div>
                <ng-template #unsubscribe>
                    Unsubscribe
                </ng-template>
            </button>
    
            <ng-template #ownerPanel>
                <button routerLink="/create-group/{{group.id}}">Edit</button>
                <button routerLink="/manage-group/{{group.id}}">Manage Roles</button>
                <button (click)="delete()">Delete</button>
            </ng-template>
        </div>
        <div class="col-9">
            <small class="text-muted">Subscriptions: {{group.subscriptions}}</small>
        </div>
    </div>
    
    <p>{{group.description}}</p>
    
    <div class="line">
        Posts:
    </div>
    
    <div class="space" *ngIf="group.isSubscribed">
        <button routerLink="/create-post/{{group.id}}">Create Post</button>
    </div>
    
    <post-feed [groupId]="group.id"></post-feed>
</div>