header{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 50px;
}

.title{
    display: flex;
    align-items: center;
}

h1{
    margin-right: 50px;
}

.manage{
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.subscription{
    margin-bottom: 5px;
}

button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
}

button:active{
    color: lightgray;
    border-color: lightgray;
}

.line{
    margin: 100px 0 20px 0;
    padding: 10px 0 10px 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.space{
    margin-bottom: 30px;
}

.moderator{
    color: #b40b0b;
}

.avatar{
    width: 100px;
    height: 100px;
}